@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
@import "tailwindcss";
@plugin "daisyui" {
  themes: light, dark;
}


body {
  font-family: 'Poppins', sans-serif;
}


.grid-template {
  display: grid;
  grid-template-areas:
    "header header"
    "main main"
    "footer footer";
  grid-template-columns: 1fr;
  grid-template-rows: 10vh 1fr 10vh;
}

.area-header {
  grid-area: header;
}
.area-main {
  grid-area: main;
}
.area-footer {
  grid-area: footer;
}
